@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: orange;
  --dark-gray: #c0ded9;
  --off-white: #d1d5db;
  --blue: #3b82f6;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #255784;
}

hr {
  margin: 3rem 0rem;
}

/**spaces**/

.margin-md {
  margin: 2rem;
}

/**container**/
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-fluid {
  /* max-width:; */
}

.container-center {
  max-width: 550px;
  margin: auto;
}

/** links **/
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.link-primary {
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  background-color: #92a8d1;
  /*border-radius: 0.5rem;*/

  color: white;
}
.link-secondary {
  max-width: 140px;
  margin: 1rem;
  padding: 0.6rem 1.2rem;
  /*border-radius: 2rem;*/

  background-color: #92a8d1;
  color: white;
}

/** lists **/

.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/**navigation**/

.navigation {
  background-image: url(images/bggg.jpg);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-size: larger;
}

.navigation.nav-brand {
  font-weight: bold;
  font-size: x-large;
}

.navigation .nav-pills {
  text-align: right;
  margin: 0.6rem 1rem;
}

.navigation .link {
  color: #deeaee;
  font-size: large;
}

.navigation .link-active {
  font-weight: bold;
  color: white;
}

.hero {
  padding: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.hero .hero-img {
  display: block;
  margin: auto;
}
.heroo-img {
  margin-left: 40%;
  border-radius: 50%;
}
.hero .hero-heading {
  position: relative;
  padding-top: 1rem;
  color: var(--dark-gray);
  text-align: center;
  /*animation-name: sample;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: ease-out;
  overflow: hidden;
  border: 1px solid black;
  width: 100px;*/
}
.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

@keyframes sample {
  0% {
    width: auto;
    background-color: #d8b4fe;
  }
  20% {
    background-color: #6d28d9;
  }
  40% {
    background-color: #7e22ce;
  }
  60% {
    background-color: #a21caf;
  }
  80% {
    background-color: #be185d;
  }
  100% {
    width: auto;
    background-color: #1d4ed8;
  }
}

/*nav animation*/
* nav ul li {
  position: relative;
}
nav ul li::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: orange;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: 0.4s;
}
nav ul li:hover::before {
  transform: scale(1, 1);
}
nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

/** section **/
.section {
  padding: 1rem;
}

.section h3 {
  text-align: center;
}
.ow {
  background-color: var(--off-white);
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1rem;
  margin: auto;
  margin-left: 10rem;
  margin-right: 10rem;
}

/** footer **/

.footer {
  margin-top: 5rem;
  background-image: url(images/bggg.jpg);
  padding: 0.5rem 1rem;
  text-align: center;
  color: var(--primary-color);
  border-top-right-radius: 2rem;
  font-size: larger;
}
.footer .link {
  color: white;
}

.footer .footer-header {
  margin: 2rem;
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

/*footer animation*/
* footer ul li {
  position: relative;
}
footer ul li::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: orange;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: 0.4s;
}
footer ul li:hover::before {
  transform: scale(1, 1);
}
footer ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

/** projects **/

.showcase-list {
  /* padding: 2rem; */
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1rem;
  text-align: center;
  margin: 3rem auto;
}
.showcase-list h1 {
  margin: 0.5rem;
}

.showcase-list p {
  padding-bottom: 1rem;
}
.section {
  padding: 2rem;
}

/** blogs **/

.showcase-blog {
  padding-bottom: 6rem;
  font-size: larger;
}

@media screen and (max-width: 900px) {
  body {
    max-width: 95%;
    width: 100%;
  }

  .list-item-inline {
    display: inline;
    padding: 0rem;
  }

  .container-center {
    width: auto;
  }

  .link-primary {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  body {
    max-width: 100%;
    width: auto;
  }

  .list-item-inline {
    display: inline;
    padding: 0rem;
  }

  .container-center {
    width: auto;
  }

  .link-primary {
    display: block;
  }

  .section {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-img {
    height: 200px;
    width: auto;
  }

  .heroo-img {
    margin-left: 10%;
    border-radius: 10%;
    height: 150px;
    width: auto;
    position: relative;
    left: 70px;
  }
  .hero-heading {
    font-size: 16px;
  }
  .navigation {
    font-size: large;
  }
  .navigation .link {
    font-size: 15px;
    font-weight: bolder;
  }

  .link {
    display: inline-block;
  }
  .link-primary {
    display: inline-flex;
    font-size: small;
    max-width: 140px;
    padding: 0.6rem 1.2rem;
  }
  .link-secondary {
    display: inline-flex;
    font-size: small;
    max-width: 140px;
    padding: 0.6rem 1.2rem;
  }
}

/*animation*/

a {
  position: relative;
  display: inline-flex;
  padding: 10px 20px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none;
  font-size: 14px;
  overflow: hidden;
  transition: 0.1s;
}

a:hover {
  color: white;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}

a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, black);
}

a:hover span:nth-child(1) {
  left: 100%;
  transition: 0.5s;
  transition-delay: 0.2s;
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, black);
}

a:hover span:nth-child(3) {
  right: 100%;
  transition: 0.5s;
  transition-delay: 0.6s;
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, black);
}

a:hover span:nth-child(2) {
  top: 100%;
  transition: 0.5s;
  transition-delay: 0.4s;
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, black);
}

a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.5s;
  transition-delay: 0.8s;
}

/*webdeveloper*/

u {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: 0.1s;
}

u:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent white);
  animation-iteration-count: infinite;
}

u:hover:nth-child(1) {
  left: 100%;
  transition: 0.5s;
  transition-delay: 0.2s;
  animation-iteration-count: infinite;
}
